<div class="login_container">
    <div class="login_div_container">
        <h1>Member Login</h1>
        <form class="login_form_container" name="loginForm" action="/login" method="POST">
            <div class="form_group">
                <input type="text" placeholder="username" name="username" />
            </div>
            <div class="form_group">
                <input type="password" placeholder="password" name="password" />
            </div>
            <input id="login_btn" type="submit" value="Login" />
        </form>
    </div>
</div>