<head>
    <title>Lab 6</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="/scripts/main.js" defer></script>
</head>